# Base container version
ALP_VERSION=3.23.4
# Ruby source code details for the compose file (also present in Dockerfile)
RUBY_VERSION=4.0.5
RUBY_DOWNLOAD_SHA256=7d6149079a63f8ae1d326c9fa65c6019ba2dc3155eae7b39159817911c88958e
PG_VERSION=
PG_MAJOR=15

# Target locations of files *within* the build containers
# FIXME Some of these are not in use
DB_FILES=/usr/local/pgsql/data
RB_FILES=/usr/src/app
FE_FILES=/var/www

# Standard locations and ports for the containers
# TODO Should we have the others here or do they not need to know?
RB_DBHOST=db:5432

# Database Name and User, we judge these to not be worth hiding as secrets
POSTGRES_DB=transcendence_backend_development
POSTGRES_USER=postgres

# TODO Are these frontend details correct, or even needed?
VITE_USE_MOCK=false
# en true se prueba el frontend aislado, sin esto el pordefecto es false
VITE_CABLE_URL=wss://localhost:8443/cable
VITE_42_CLIENT_ID=u-s4t2ud-bfa88b836753592e9d0e67fd4a2cf0b629ca48caace089f16e85d807a074a80f
VITE_42_REDIRECT_URI=https://localhost:8443/auth/callback
VITE_API_URL=https://localhost:8443/api
VITE_USE_MOCK=false

# Authentication with 42 provider
# TODO these redirect URIs *probably* should be rewritten based on variables?
REDIRECT_URI_42=https://localhost:8443/auth/callback
UID_42=u-s4t2ud-bfa88b836753592e9d0e67fd4a2cf0b629ca48caace089f16e85d807a074a80f

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=noctyve.transcendence@gmail.com
SMTP_DOMAIN=gmail.com
